*{
	padding: 0px;
	margin: 0px;
}
.navbar{
	min-height: 70px;
	margin-bottom: 0px;
}
#logo-voca-9{
	width: 50px;
	margin-top: 10px;
	margin-left: 20px;
}
.desplegable-materias{
	margin-top: 10px;
	float: right;
}
.li-dropdown{
	display: flex;
	width: 100%;
}
.div-main{
	width: 1079px;
	height: 600px;
	background-image: url("../img/escuelaPoli.jpg");
	background-repeat: no-repeat;
	background-size: 1079px;
	margin-top: -20px;
}	
.titulo-proyecto{
	margin-top: 65px;
	align-self: center;
	color: white;
}
.white{
	color: white;
}