<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Proyecto Aula</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/myStyles.css">
</head>
  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="row">
            <div class="col-md-6 container-logo">
              <img id="logo-voca-9" src="img/Cecyt9Logo.png">
            </div>  
            <div class="col-md-5">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materias <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="templates/trigo.hmtl">TRIGONOMETRIA</a></li>
                  <li><a href="templates/ingles.html">INGLES</a></li>
                  <li><a href="templates/logica.html">LOGICA</a></li>
                  <li><a href="#templates/expresion.html">EXPRESION ORAL Y ESCRITA</a></li>
                  <li><a href="templates/tic.html">TECNICAS DE INVESTIGACION DE CAMPO</a></li>
                  <li><a href="templates/orientacion.html">ORIENTACION</a></li>
                  <li><a href="templates/biologia.html">BIOLOGIA</a></li>
                  <li><a href="templates/historia.html">HISTORIA</a></li>
                  <li><a href="templates/compu.html">COMPUTACION BASICA</a></li>
                </ul>
              </li>
            </div>
            </ul> 
          </div>
         </div> 
        </div>
      </nav>
    </header>
    <main>
      
    </main>
  
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
